<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="useGeneratedKeys" value="true"/>
	</settings>
	<typeAliases>
	</typeAliases>
	<!--<plugins>-->
		<!--<plugin interceptor="com.shawn.finger.util.pageutil.PagePlugin">-->
			<!--<property name="dialect" value="oracle"/>-->
			<!--<property name="pageSqlId" value=".*Page.*"/>-->
		<!--</plugin>-->
	<!--</plugins>-->
</configuration>
