<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shawn.finger.dao.UserDAO">

	<resultMap id="UserResultMap" type="com.shawn.finger.vo.UserVO">
		<result property="id" column="ID" />
		<result property="realName" column="REAL_NAME" />
		<result property="status" column="STATUS" />
		<result property="gender" column="GENDER" />
		<result property="phone" column="PHONE" />
		<result property="email" column="EMAIL" />
		<result property="portraitPath" column="PORTRAIT_PATH" />
		<result property="remarks" column="REMARKS" />
		<result property="createBy" column="CREATE_BY" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="updateBy" column="UPDATE_BY" />
		<result property="updateTime" column="UPDATE_TIME" />
		<result property="deleteBy" column="DELETE_BY" />
		<result property="deleteTime" column="DELETE_TIME" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="User_columns">
		<![CDATA[
			ID,REAL_NAME,STATUS,GENDER,PHONE,EMAIL,PORTRAIT_PATH,REMARKS,CREATE_BY,CREATE_TIME,UPDATE_BY,UPDATE_TIME,DELETE_BY,DELETE_TIME
		]]>
	</sql>

	<select id="getById" resultMap="UserResultMap">
		SELECT
		<include refid="User_columns" />
	    <![CDATA[
		    FROM SYS_USER
	        WHERE 
		        ID = #{id}
		    ORDER BY CREATE_TIME DESC
	    ]]>
	</select>

</mapper>

